.container{
  background-color: pink;
}
.foot{
  padding: 5px;
}
.special{
  max-height: 140px;
}
[class*='col-']{
  text-align: center;
  position: relative;
}
.special [class*='col-']{
  border: 1px solid white;
  background-color: #f4648a;
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
